/* CSS Document */
.table_header
{
background-color: #FAFAFA;
font-size: 18;
border-style: solid;
border-width: 1px;
border-color: black;
font-weight: bold;
}

.information
{
background-color: #FCFCC2;
}

legend
{
color: #1609AD;
font-size: 18;
font-weight: bold;
}

body
{
background-color: #E8EDE8;
}

.step
{
}

.step_content
{
display: none;
}

.container
{
}